<ion-header>
  <ion-toolbar>
    <ion-title>getdirections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!directionForm.valid">Get Direction</ion-button>
  </form>

  <div #mappElement class="map"></div>
</ion-content>
