.toollogo {
    height: 100%;
    max-width: 100px;
    float: left;
  }
  
  ion-toolbar {
    --color: #fff;
    ion-title {
      max-width: 200px;
      float: left;
    }
  }

  .ezfoodlog {
    margin-top: 20px;
  }
  
  .rstbtn{
      max-width: 150px;
  }
  
  ion-grid{
      margin-top: 200px;
  }