.logbtn{
    width: 100%;
    max-width: 160px;
}

a{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.sociallogs{
    margin-top: 30px;
}

.ezfoodlog{
    margin-top: 20px;
}

.createacnt{
    width: 100%;
    max-width: 335px;
}

ion-toolbar{
    --color : #FFF;
    ion-title{
        max-width: 200px;
        float: left;
        font-size: 15px;
    }
}

.formrow{
    margin-top: 30px;
}

a{
    font-size: 14px;
}

.acolor{
    color: #ff7a29;
    text-align: center;
}

h4{
    --ion-font-family:'Astereiska';
}