  ion-toolbar {
    --color: #fff;
  }
  
  .icn {
    width: 30px;
    height: 30px;
  }
  
  ion-card{
    width: 100%;
    max-height: 300px;
    margin-top: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 4px rgba(0,0,0,0.19);
    border-top: 3px solid blue;
  }
  
  img{
    width: 100%;
    max-height: 120px;
    min-height: 120px;
  }

  .foodcatnames{
    margin-left: 20px;
  }

 