<ion-header>
    <ion-toolbar color="main">
      <ion-buttons slot="start">
        <ion-button color="light" (click)="loadAdmin()">
            <ion-icon class="icn" slot="start" name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Shop Name*</ion-label>
            <ion-input name="itemname" placeholder="Enter Shop Name" [(ngModel)]='addShopCredentials.shopname'>
            </ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Description*</ion-label>
            <ion-input name="description" placeholder="Enter Shop Description" [(ngModel)]='addShopCredentials.description'>

            </ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="col">
            <div class="d-flex justify-content-center ">
              <ion-button color="main" (click)="addShops()">
                Add
              </ion-button>
            </div>
          </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
