<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="loadMenu()">
        <ion-icon class="icn" slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img [src]="currentImage" *ngIf="currentImage">
  </ion-card>
  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>