<ion-header>
  <ion-toolbar color="main">
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ADMIN
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button color="main" href="/addmanager" class="d-flex flex-wrap align-content-center" >
          Add Managers
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="main" href="/viewmanager" class="d-flex flex-wrap align-content-center" >
          View Managers
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button color="main" href="/addshops" class="d-flex flex-wrap align-content-center" >
          Add Shops
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="main" href="/viewshops" class="d-flex flex-wrap align-content-center" >
          View Shops
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>