ion-toolbar{
    --color: #fff;
      ion-title{
          max-width: 200px;
          float: left;
          font-size: 15px;
      }
  }
  
  .icn {
      width: 30px;
      height: 30px;
  }
  
  ion-input{
      padding-top: 0;
      padding-bottom: 0;
  }
  
  ion-label{
      font-size: 18px;
      font-weight: bold;
  }
  

  ion-card{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
    border-top: 3px solid blue;
    border-bottom: 3px solid darkgray;
    max-height: 400px;
  }

  ion-card-content{
    padding: 0;
  }

  ion-card-header{
    padding: 10px;
  }